@import 'media-queries';
@import 'components/header/index.scss';
@import 'components/slider/index.scss';
@import 'components/aboutus/index.scss';
@import 'palittre';
@import 'fonts';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
