
.aboutus {
    height: auto;

    .container {

        .whoweare {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            padding-right: 0;
        }

        .aboutusgrid {
            padding-left: 25px;
            display: flex;
            align-items: center;
            flex-direction: column;

            .image {
                    margin-right: 0;
            }

            .somewords {

                .maincontainer {
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: 90px 90px 90px 90px;
                }

                h2 {
                border-bottom: 1px solid black;
                padding-bottom: 15px;
                }

                .one {

                    div::before {
                        content: url('../../../images/aboutus/Check\ Icon.png');
                    }
                }
    
                .two {
    
                    div::before {
                        content: url('../../../images/aboutus/Check\ Icon.png');
                    }
                }
    
                .three {
    
                    div::before {
                        content: url('../../../images/aboutus/Check\ Icon.png');
                    }
                }
    
                .four {
    
                    div::before {
                        content: url('../../../images/aboutus/Check\ Icon.png');
                    }
                }
            }
        }
    }
}
