
.aboutus {
    height: auto;

    .container {

        .whoweare {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            padding-right: 0;
        }

        .aboutusgrid {
            padding-left: 25px;
            display: flex;
            align-items: center;
            flex-direction: column;

            .image {
                    margin-right: 0;
            }

            .somewords {

                .maincontainer {
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: 90px 90px 90px 90px;
                }

                h2 {
                border-bottom: 1px solid black;
                padding-bottom: 15px;
                }

                .feature {
                    
                    div {
                        width: 544.96px;
                    }

                    div h3{
                        display: none;
                    }

                    div::before {
                        padding-bottom: 10px;
                        content: url('../../../images/aboutus/Check\ Icon.png');
                    }

                }

                .one {

                    h6 {
                        display: block;
                    }

                    div::before {
                        content: url('../../../images/aboutus/Check\ Icon.png');
                    }
                }
    
                .two {
    
                    div::before {
                        content: url('../../../images/aboutus/Check\ Icon.png');
                    }
                }
    
                .three {
    
                    div::before {
                        content: url('../../../images/aboutus/Check\ Icon.png');
                    }
                }
    
                .four {
                    div::before{
                        content: "READ MORE";
                        font-size: 13px;
                        font-weight: bold;
                        text-align: center;
                        padding-top: 6px;
                        padding-bottom: 0px;
                        justify-content: center;
                        line-height: 34px;
                        word-spacing: 4px;
                        color: $color-1;
                        width: 138px;
                        height: 42px;
                        background-color: $bgc-color-1;
                    }

                    div h3, div h6 {
                        display: none;
                    }

                    // div::before {
                    //     content: url('../../../images/aboutus/Check\ Icon.png');
                    // }
                }
            }
        }
    }
}
