
.section {
    height: 799px;
    padding-top: 5px;
    padding-bottom: 1px;

    .container {

        .whoweare {
            justify-content: center;
            margin-bottom: 23px;
            padding-right: 0;
            padding-bottom: 1px;
        }


        h3 {
            font-size: 27px;
            margin-top: 31px;
        }

        .aboutusgrid {
            display: flex;
            align-items: center;
            flex-direction: column;

            .image {
                margin-right: 20px;
                width: auto;

                img {
                    width: 280px;
                    height: 207px;                    
                }
            }

            .somewords {

                .maincontainer {
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: 60px 60px 60px 60px;
                    grid-gap: 10px;
                }

                h2 {
                border-bottom: 1px solid $bc-color-1;
                padding-bottom: 8px;
                font-size: 16px;
                word-spacing: 4px;
                font-weight: 400;
                padding-top: 7px;
                line-height: 19px;
                }

                h5 {
                    font-size: 13px;
                    font-weight: 400;
                    padding-top: 4px;
                    line-height: 22px;
                    padding-bottom: 27px;
                }

                h5 span {
                    display: none;
                }

                .feature {

                    div {
                        width: 100%;
                    }

                    div h3 {
                        display: none;
                    }

                    div h6 {
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 23px;
                    }

                    div h6 span {
                        display: none;
                    }

                    div::before {
                        padding-bottom: 10px;
                        content: "";
                        background-repeat: no-repeat;
                        background-image: url('/images/section/checkicon.png');
                        width: 22px;
                        height: 45px;
                    }
                }

                .one {
                    padding-left: 0px;

                    h6 {
                        display: block;
                    }

                    div::before {
                        content: "";
                        background-repeat: no-repeat;
                        background-image: url('/images/section/checkicon.png');
                        width: 22px;
                        height: 45px;
                    }
                }

                .two {

                    div::before {
                        content: "";
                        background-repeat: no-repeat;
                        background-image: url('/images/section/checkicon.png');
                        width: 22px;
                        height: 45px;
                    }
                }

                .three {
                    padding-left: 0px;

                    div::before {
                        content: "";
                        background-repeat: no-repeat;
                        background-image: url('/images/section/checkicon.png');
                        width: 22px;
                        height: 45px;
                    }
                }

                .four {
                    div::before{
                        content: "READ MORE";
                        font-size: 13px;
                        font-weight: bold;
                        text-align: center;
                        padding-top: 6px;
                        padding-bottom: 0px;
                        justify-content: center;
                        line-height: 34px;
                        word-spacing: 4px;
                        color: $color-1;
                        width: 138px;
                        height: 42px;
                        background-color: $bgc-color-1;
                    }

                    div h3, div h6 {
                        display: none;
                    }
                }
            }
        }
    }
}
