.header {
    height: 67px;
    background: $bc-color-1;

    .container {

        nav {
            display: none;
        }

        .hide {
            display: block;
            margin-right: 22px;
        }

        .logo {
            height: 42px;
            margin-left: 18px;

            img {
                width: 23px;
                height: 33px;
            }

            h1 {
                margin-top: 17px;
                color: $color-1;
                font-family: $font-1;
                font-size: 27.22px;
                line-height: 16.15px;
            }

            a {
                font-size: 28px;
            }
        }
    }
}
