.header {
    background: $bc-color-1;
    height: 67px;

    .container {

        .hide {
            display: block;
            margin-right: 30px;
        }
    }
}

nav {
    display: none;
}

.logo {
    margin-left: 15px;

    img {
        width: 20.6px;
        height: 31.01px;
    }

    h1 {
        color: $color-1;
        font-family: $font-1;
        font-size: 27.22px;
        line-height: 16.15px;
        margin-top: 17px;
    }
}
