.header {
    background: $bc-color-1;
    height: 108px;

    .container {

        .hide {
            display: block;
            margin-right: 30px;
        }
    }
}

nav {
    display: none;
}

.logo {
    margin-left: 35px;
}
